<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人中心</title>
    <!-- 引入插件 -->
    <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css">
    <!-- 引入默认样式 -->
    <link rel="stylesheet" href="css/reset.css">
    <!-- 日历 -->
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_234130_nem7eskcrkpdgqfr.css">
    <!-- 左边 -->
    <link rel="stylesheet" href="css/personal_center/comm_left.css">
    <!-- 右边 -->
    <link rel="stylesheet" href="css/personal_center/comm_right.css">
    <!-- 主页 -->
    <link rel="stylesheet" href="./css/home/nav_footer.css" />
    <link rel="stylesheet" href="./css/home/iconfont.css" />
    <link rel="stylesheet" href="./css/home/iconfont-chat-left-right.css" />
</head>
<body>
    
    <% include ../home/nav.html %>
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                
            </div>
        </div>
    </div>

    <!-- 引入插件 -->
    <script src="libs/jquery-3.3.1.min.js"></script>
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>
    <!-- 日历 -->
    <script src="js/personal_center/schedule.js"></script> 
    <!-- 左边 -->
    <script src="js/personal_center/comm_left.js"></script>
    <!-- 右边 -->
    <script src="js/personal_center/comm_right.js"></script>
    <!-- 所有订单 -->
    <script src="js/personal_center/order_all.js"></script>
    <!-- 主页 -->
    <script src="js/personal_center/footer.js"></script>
    <script src=".\js\home\home.js"></script>
</body>
</html>