<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="./libs/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/personal_center/comm_right.css">
    <link rel="stylesheet" href="./css/home/home.css" />
    <link rel="stylesheet" href="./css/home/nav_footer.css" />
    <link rel="stylesheet" href="./css/home/iconfont.css" />
    <link rel="stylesheet" href="./css/home/iconfont-chat-left-right.css" />
    
  </head>
  <body>
    <% include nav.html %>
    <div class="container banner clear">
      <div class="banner-left">
        <ul>
          <li class="banner-type" msg="chocolate" index="3">
            <a href="/object?classify=3">
              <span class="iconfont icon-qiaokeli"></span>
              <span>巧克力</span>
              <span class="iconfont icon-dayu"></span>
            </a>
          </li>
          <li class="banner-type" msg="cream" index="2">
            <a href="/object?classify=2">
              <span class="iconfont icon-naiyouqiekuai"></span>
              <span>奶油</span>
              <span class="iconfont icon-dayu"></span>
            </a>
          </li>
          <li class="banner-type" msg="fruit" index="4">
            <a href="/object?classify=4">
              <span class="iconfont icon-shuiguo"></span>
              <span>水果</span>
              <span class="iconfont icon-dayu"></span>
            </a>
          </li>
          <li class="banner-type" msg="mousse" index="1">
            <a href="/object?classify=1">
              <span class="iconfont icon-icon-test"></span>
              <span>慕斯</span>
              <span class="iconfont icon-dayu"></span>
            </a>
          </li>
          <li class="banner-type" msg="saltedCream" index="5">
            <a href="/object?classify=5">
              <span class="iconfont icon-naiyou"></span>
              <span>咸奶油</span>
              <span class="iconfont icon-dayu"></span>
            </a>
          </li>
          <li class="banner-type" msg="snow" index="6">
            <a href="/object?classify=6">
              <span class="iconfont icon-Snow"></span>
              <span>雪域</span>
              <span class="iconfont icon-dayu"></span>
            </a>
          </li>
        </ul>
        <!-- 弹出层 -->
        <div class="banner-inner clear">
          <!-- <div class="clear"> -->
          <!-- <div class="row"> -->
          <div class="  ">
            <a href="#">
              <img alt="" src="\img\cake\chocolate\bear\preview.png" />
              <span>PAP熊...</span>
            </a>
          </div>
          <div class="">
            <a href="#">
              <img alt="" src="\img\cake\chocolate\bear\preview.png" />
              <span>熊熊熊熊...</span>
            </a>
          </div>
          <div class="">
            <a href="#">
              <img alt="" src="\img\cake\chocolate\bear\preview.png" />
              <span>PAP熊</span>
            </a>
          </div>
          <div class="">
            <a href="#">
              <img alt="" src="\img\cake\chocolate\bear\preview.png" />
              <span>PAP熊</span>
            </a>
          </div>
          <div class="">
            <a href="#">
              <img alt="" src="\img\cake\chocolate\bear\preview.png" />
              <span>熊熊戏熊...</span>
            </a>
          </div>
          <!-- </div> -->
          <!-- <div class="row"> -->
          <div class=" ">
            <a href="#">
              <img alt="" src="\img\cake\chocolate\bear\preview.png" />
              <span>PAP熊</span>
            </a>
          </div>
          <div class="">
            <a href="#">
              <img alt="" src="\img\cake\chocolate\bear\preview.png" />
              <span>PAP熊</span>
            </a>
          </div>
          <div class="">
            <a href="#">
              <img alt="" src="\img\cake\chocolate\bear\preview.png" />
              <span>PAP熊</span>
            </a>
          </div>
          <div class="">
            <a href="#">
              <img alt="" src="\img\cake\chocolate\bear\preview.png" />
              <span>PAP熊</span>
            </a>
          </div>
          <div class="">
            <a href="#">
              <img alt="" src="\img\cake\chocolate\bear\preview.png" />
              <span>PAP熊</span>
            </a>
          </div>
          <!-- </div> -->
          <!-- </div> -->
          <!-- <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-2  col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <a href="#">
                            <img  alt="" src="\img\cake\chocolate\bear\preview.png">
                            <span>PAP熊</span>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <a href="#">
                            <img  alt="" src="\img\cake\chocolate\bear\preview.png">
                            <span>PAP熊</span>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <a href="#">
                            <img  alt="" src="\img\cake\chocolate\bear\preview.png">
                            <span>PAP熊</span>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <a href="#">
                            <img  alt="" src="\img\cake\chocolate\bear\preview.png">
                            <span>PAP熊</span>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <a href="#">
                            <img  alt="" src="\img\cake\chocolate\bear\preview.png">
                            <span>PAP熊</span>
                        </a>
                    </div>
                </div> -->
        </div>
      </div>
      <div class="banner-right">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <!-- 轮播图 -->
            <ol class="carousel-indicators">
              <li
                data-target="#myCarousel"
                data-slide-to="0"
                class="active"
              ></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="item active">
              <a href="/sendId?id=4">
                <!-- <img src=".\img\home\chocalate_banner.jpg" alt="第一张" width="100%"> -->
                <div class="item_div i_one">
                  <!-- <img src=".\img\home\mees_banner.jpg" alt="第二张" width="100%"> -->
                </div>
              </a>
            </div>
            <div class="item">
              <a href="/sendId?id=30">
                <!-- <img src=".\img\home\mees_banner.jpg" alt="第二张" width="100%"> -->
                <div class="item_div i_two">
                  <!-- <img src=".\img\home\mees_banner.jpg" alt="第二张" width="100%"> -->
                </div>
              </a>
            </div>
            <div class="item">
              <a href="/sendId?id=33">
                <!-- <img src=".\img\home\snow_banner.jpg" alt="第三张" width="100%"> -->
                <div class="item_div i_three">
                  <!-- <img src=".\img\home\mees_banner.jpg" alt="第二张" width="100%"> -->
                </div>
              </a>
            </div>
            <a
              href="#myCarousel"
              data-slide="prev"
              class="carousel-control left"
              ><!-- ‹ -->
              <span class="glyphicon glyphicon-chevron-left"></span> </a
            ><!-- 左箭头 -->
            <a
              href="#myCarousel"
              data-slide="next"
              class="carousel-control right"
              ><!-- › -->
              <span class="glyphicon glyphicon-chevron-right"></span> </a
            ><!-- 右箭头 -->
          </div>
        </div>
      </div>
    </div>
    <div class="crosewise container">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="c_one col-md-6 col-sm-6 col-xs-6">
          <a href="/sendId?id=34"><img src=".\img\home\34.jpg" alt=""/></a>
        </div>
        <div class="c_two col-md-6 col-sm-6 col-xs-6">
          <a href="/sendId?id=28"><img src=".\img\home\28.jpg" alt=""/></a>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="c_one col-md-6 col-sm-6 col-xs-6">
          <a href="/sendId?id=26"><img src=".\img\home\26.jpg" alt=""/></a>
        </div>
        <div class="c_two col-md-6 col-sm-6 col-xs-6">
          <a href="/sendId?id=25"><img src=".\img\home\25.jpg" alt=""/></a>
        </div>
      </div>
    </div>
    <div class="container crosewise-big">
      <a href="#"><img src=".\img\home\pc1.png" alt="" /></a>
    </div>
    <section class="tea container" index='1'>
      <h2>送长辈</h2>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="col-md-6 col-sm-6 col-xs-6 ">
          <div class="clear">
            <a href="#">
                <img src=".\img\cake\chocolate\bear\preview.png" alt=""/>
            </a>
            <a href="#"><p>布朗尼精灵</p></a>
            <p class="price">￥250.00</p>
            <p class="shop_now">立即购买</p>
            <div class="shop_car">
              <img src=".\img\home\jiarugouwuche.png" alt="" />
            </div>
            <!-- <div class="chooseSize">
              <p >
                <span>￥</span><span class="ch_price">250</span><span>/</span><span class="ch_size">1.2磅</span>
              </p>
              <span class="ch_size" index='1'>1.2磅</span>
              <span class="ch_size" index='2'>2.2磅</span>
              <span class="ch_size" index='3'>3.2磅</span>
              <span class="ch_size" index='4'>7.2磅</span>

              <input type="button" value="确认购买" id="confirm">
              <input type="button" value="取消" id="cancel">
            </div> -->
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 ">
          <div class="clear">
            <a href="#"
              ><img src=".\img\cake\chocolate\bear\preview.png" alt=""
            /></a>
            <a href="#"><p>布朗尼精灵</p></a>
            <p class="price">￥250.00</p>
            <p class="shop_now">立即购买</p>
            <div class="shop_car">
              <img src=".\img\home\jiarugouwuche.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="col-md-6 col-sm-6 col-xs-6 ">
          <div class="clear">
            <a href="#"
              ><img src=".\img\cake\chocolate\bear\preview.png" alt=""
            /></a>
            <a href="#"><p>布朗尼精灵</p></a>
            <p class="price">￥250.00</p>
            <p class="shop_now">立即购买</p>
            <div class="shop_car">
              <img src=".\img\home\jiarugouwuche.png" alt="" />
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 ">
          <div class="clear">
            <a href="#"
              ><img src=".\img\cake\chocolate\bear\preview.png" alt=""
            /></a>
            <a href="#"><p>布朗尼精灵</p></a>
            <p class="price">￥250.00</p>
            <p class="shop_now">立即购买</p>
            <div class="shop_car">
              <img src=".\img\home\jiarugouwuche.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="son container" index='5'>
      <h2>送亲子</h2>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="col-md-6 col-sm-6 col-xs-6 ">
          <div class="clear">
            <a href="#"
              ><img src=".\img\cake\chocolate\bear\preview.png" alt=""
            /></a>
            <a href="#"><p>布朗尼精灵</p></a>
            <p class="price">￥250.00</p>
            <p class="shop_now">立即购买</p>
            <div class="shop_car">
              <img src=".\img\home\jiarugouwuche.png" alt="" />
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 ">
          <div class="clear">
            <a href="#"
              ><img src=".\img\cake\chocolate\bear\preview.png" alt=""
            /></a>
            <a href="#"><p>布朗尼精灵</p></a>
            <p class="price">￥250.00</p>
            <p class="shop_now">立即购买</p>
            <div class="shop_car">
              <img src=".\img\home\jiarugouwuche.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="col-md-6 col-sm-6 col-xs-6 ">
          <div class="clear">
            <a href="#"
              ><img src=".\img\cake\chocolate\bear\preview.png" alt=""
            /></a>
            <a href="#"><p>布朗尼精灵</p></a>
            <p class="price">￥250.00</p>
            <p class="shop_now">立即购买</p>
            <div class="shop_car">
              <img src=".\img\home\jiarugouwuche.png" alt="" />
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 ">
          <div class="clear">
            <a href="#"
              ><img src=".\img\cake\chocolate\bear\preview.png" alt=""
            /></a>
            <a href="#"><p>布朗尼精灵</p></a>
            <p class="price">￥250.00</p>
            <p class="shop_now">立即购买</p>
            <div class="shop_car">
              <img src=".\img\home\jiarugouwuche.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="parent container" index='4'>
      <h2>送恋人</h2>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="col-md-6 col-sm-6 col-xs-6 ">
          <div class="clear">
            <a href="#"
              ><img src=".\img\cake\chocolate\bear\preview.png" alt=""
            /></a>
            <a href="#"><p>布朗尼精灵</p></a>
            <p class="price">￥250.00</p>
            <p class="shop_now">立即购买</p>
            <div class="shop_car">
              <img src=".\img\home\jiarugouwuche.png" alt="" />
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 ">
          <div class="clear">
            <a href="#"
              ><img src=".\img\cake\chocolate\bear\preview.png" alt=""
            /></a>
            <a href="#"><p>布朗尼精灵</p></a>
            <p class="price">￥250.00</p>
            <p class="shop_now">立即购买</p>
            <div class="shop_car">
              <img src=".\img\home\jiarugouwuche.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="col-md-6 col-sm-6 col-xs-6 ">
          <div class="clear">
            <a href="#"
              ><img src=".\img\cake\chocolate\bear\preview.png" alt=""
            /></a>
            <a href="#"><p>布朗尼精灵</p></a>
            <p class="price">￥250.00</p>
            <p class="shop_now">立即购买</p>
            <div class="shop_car">
              <img src=".\img\home\jiarugouwuche.png" alt="" />
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 ">
          <div class="clear">
            <a href="#"
              ><img src=".\img\cake\chocolate\bear\preview.png" alt=""
            /></a>
            <a href="#"><p>布朗尼精灵</p></a>
            <p class="price">￥250.00</p>
            <p class="shop_now">立即购买</p>
            <div class="shop_car">
              <img src=".\img\home\jiarugouwuche.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="friend container" index='3'>
      <h2>送闺蜜</h2>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="col-md-6 col-sm-6 col-xs-6 ">
          <div class="clear">
            <a href="#"
              ><img src=".\img\cake\chocolate\bear\preview.png" alt=""
            /></a>
            <a href="#"><p>布朗尼精灵</p></a>
            <p class="price">￥250.00</p>
            <p class="shop_now">立即购买</p>
            <div class="shop_car">
              <img src=".\img\home\jiarugouwuche.png" alt="" />
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 ">
          <div class="clear">
            <a href="#"
              ><img src=".\img\cake\chocolate\bear\preview.png" alt=""
            /></a>
            <a href="#"><p>布朗尼精灵</p></a>
            <p class="price">￥250.00</p>
            <p class="shop_now">立即购买</p>
            <div class="shop_car">
              <img src=".\img\home\jiarugouwuche.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="col-md-6 col-sm-6 col-xs-6 ">
          <div class="clear">
            <a href="#"
              ><img src=".\img\cake\chocolate\bear\preview.png" alt=""
            /></a>
            <a href="#"><p>布朗尼精灵</p></a>
            <p class="price">￥250.00</p>
            <p class="shop_now">立即购买</p>
            <div class="shop_car">
              <img src=".\img\home\jiarugouwuche.png" alt="" />
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 ">
          <div class="clear">
            <a href="#"
              ><img src=".\img\cake\chocolate\bear\preview.png" alt=""
            /></a>
            <a href="#"><p>布朗尼精灵</p></a>
            <p class="price">￥250.00</p>
            <p class="shop_now">立即购买</p>
            <div class="shop_car">
              <img src=".\img\home\jiarugouwuche.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="lover container" index=2>
      <h2>送朋友</h2>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="col-md-6 col-sm-6 col-xs-6 ">
          <div class="clear">
            <a href="#"
              ><img src=".\img\cake\chocolate\bear\preview.png" alt=""
            /></a>
            <a href="#"><p>布朗尼精灵</p></a>
            <p class="price">￥250.00</p>
            <p class="shop_now">立即购买</p>
            <div class="shop_car">
              <img src=".\img\home\jiarugouwuche.png" alt="" />
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 ">
          <div class="clear">
            <a href="#"
              ><img src=".\img\cake\chocolate\bear\preview.png" alt=""
            /></a>
            <a href="#"><p>布朗尼精灵</p></a>
            <p class="price">￥250.00</p>
            <p class="shop_now">立即购买</p>
            <div class="shop_car">
              <img src=".\img\home\jiarugouwuche.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="col-md-6 col-sm-6 col-xs-6 ">
          <div class="clear">
            <a href="#"
              ><img src=".\img\cake\chocolate\bear\preview.png" alt=""
            /></a>
            <a href="#"><p>布朗尼精灵</p></a>
            <p class="price">￥250.00</p>
            <p class="shop_now">立即购买</p>
            <div class="shop_car">
              <img src=".\img\home\jiarugouwuche.png" alt="" />
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 ">
          <div class="clear">
            <a href="#"
              ><img src=".\img\cake\chocolate\bear\preview.png" alt=""
            /></a>
            <a href="#"><p>布朗尼精灵</p></a>
            <p class="price">￥250.00</p>
            <p class="shop_now">立即购买</p>
            <div class="shop_car">
              <img src=".\img\home\jiarugouwuche.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <%include footer.html %>
    
    <script src=".\libs\jquery-3.3.1.min.js"></script>
    <script src=".\libs\bootstrap\js\bootstrap.min.js"></script>
    <script src=".\js\home\home.js"></script>
  </body>
</html>
